<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- 네이버 Map API 및 Javascript file 불러오기 -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=yut1gf5qf3"></script>
    <script defer src = "../static/js/map.js" ></script>

    <title>traveler</title>
    <meta property="og:title" content="traveler" />
    <meta property="og:description" content="여행지 찜해보기" />
    <link rel="stylesheet" href = "../static/css/map.css"/>
  </head>
  <body>
    <!-- <a href="member/signup"><p>회원가입</p></a>
    <a href="member/login"><p>로그인</p></a> -->
    <!-- Map 불러오기 -->
    <div class="top">
      <h2 class="title">Traveler</h2>
      <button onclick="alert('알람창 출력')" class="logout"> Logout </button>
    </div>
    <div class = "div_center">
      <div class="div_right" id ="info">
        <div class = "div_info">
          <button type="button" class="info_button">위치 검색</button>
          <button type="button" class="info_button">찜 목록</button>
        </div>
        <div class="wrap">
          <div class="search">
             <input type="text" class="searchTerm" placeholder="여행지 검색">
             <button type="button" class="searchButton">검색</button>
          </div>
       </div>
      </div>
      <div class="div_left" id="map"></div>
    </div>
    <div class="mypost">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="url" />
        <label for="floatingInput">가고싶은 여행지 입력</label>
        
      </div>
      <button id ="search" onclick="search_place()" type="button" class="btn btn-dark">
        여행지 추천 검색
      </button>
    </div>
    <div class="mycards" id="search_list">
    </div>
    <div class="mycards" id="show_list">
    </div>
  </body>
</html>